@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&family=Outfit:wght@300;400;500;600&display=swap');
body {
    font-family: "Montserrat", sans-serif;
    background-image: url(../Images/image.png);
    background-repeat: no-repeat;
    width: 100%;
    overflow-x: hidden;
}

.navbarr {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandd {
    text-decoration: none;
    color: orangered;
    font-size: 40px;
    cursor: pointer;
    font-family: 'Gwendolyn', cursive;
}

.brandd:hover {
    text-decoration: none;
    color: orangered;
    font-size: 40px;
}

.navbarr ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

.navbarr ul li a {
    text-decoration: none;
    color: white;
}

.navbarr ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: orangered;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbarr ul li:hover:after {
    width: 100%;
}

.container {
    max-width: 900px;
    margin-top: -40px;
}

a {
    display: inline-block;
    text-decoration: none;
}

input {
    outline: none !important;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: 700;
}

section#formHolder {
    padding: 50px 0;
}

.brand {
    padding: 20px;
    background: url(https://goo.gl/A0ynht);
    background-size: cover;
    background-position: center center;
    color: #fff;
    min-height: 840px;
    position: relative;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.6s cubic-bezier(1, -0.375, 0.285, 0.995);
    z-index: 9999;
}

.brand.active {
    width: 100%;
}

.brand::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: orangered;
    z-index: -1;
}

.brand a.logo {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1em;
    color: white;
    cursor: pointer;
    font-family: 'Gwendolyn', cursive;
}

.brand a.logo span {
    font-size: 30px;
    color: #fff;
    transform: translateX(-5px);
    display: inline-block;
}

.brand .heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 0.6s;
}

.brand .heading.active {
    top: 100px;
    left: 100px;
    transform: translate(0);
}

.brand .heading h2 {
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    color: black;
}

.brand .heading p {
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: 130px;
    font-family: "Raleway", sans-serif;
}

.brand .success-msg {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
}

.brand .success-msg p {
    font-size: 25px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
}

.brand .success-msg a {
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px 30px;
    background: black;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
}

.brand .success-msg p,
.brand .success-msg a {
    transition: all 0.9s;
    transform: translateY(20px);
    opacity: 0;
}

.brand .success-msg p.active,
.brand .success-msg a.active {
    transform: translateY(0);
    opacity: 1;
}

.form {
    position: relative;
}

.form .form-peice {
    background: #fff;
    min-height: 790px;
    margin-top: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    color: #bbbbbb;
    padding: 30px 0 60px;
    transition: all 0.9s cubic-bezier(1, -0.375, 0.285, 0.995);
    position: absolute;
    top: 0;
    left: -30%;
    width: 130%;
    overflow: hidden;
}

.form .form-peice.switched {
    transform: translateX(-100%);
    width: 100%;
    left: 0;
}

.form form {
    padding: 0 40px;
    margin: 0;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.form form .form-group {
    margin-bottom: 5px;
    position: relative;
    margin: 5px;
}

.form form .form-group.hasError input {
    border-color: orangered !important;
}

.form form .form-group.hasError label {
    color: orangered !important;
}

.form form label {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    transform: translateY(40px);
    transition: all 0.4s;
    cursor: text;
    z-index: -1;
}

.form form label.active {
    transform: translateY(15px);
    font-size: 10px;
}

.form form label.fontSwitch {
    font-family: "Raleway", sans-serif !important;
    font-weight: 600;
}

.form form input:not([type=submit]) {
    background: none;
    outline: none;
    border: none;
    display: block;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #eee;
    color: #444;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    z-index: 1;
}

.form form input:not([type=submit]).hasError {
    border-color: orangered;
}

.form form span.error {
    color: orangered;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    right: 0;
    display: none;
}

.form form input[type=password] {
    color: orangered;
}

.form form .CTA {
    margin-top: 30px;
}

.form form .CTA input {
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 30px;
    background: orangered;
    color: #fff;
    border-radius: 30px;
    margin-right: 20px;
    border: none;
    font-family: "Montserrat", sans-serif;
}

.form form .CTA a.switch {
    font-size: 13px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: #bbbbbb;
    text-decoration: underline;
    transition: all 0.3s;
}

.form form .CTA a.switch:hover {
    color: orangered;
}

footer {
    text-align: center;
}

footer p {
    color: #777;
}

footer p a,
footer p a:focus {
    color: #b8b09f;
    transition: all 0.3s;
    text-decoration: none !important;
}

footer p a:hover,
footer p a:focus:hover {
    color: orangered;
}

@media (max-width: 768px) {
    .container {
        overflow: hidden;
    }
    section#formHolder {
        padding: 0;
    }
    section#formHolder div.brand {
        min-height: 200px !important;
    }
    section#formHolder div.brand.active {
        min-height: 100vh !important;
    }
    section#formHolder div.brand .heading.active {
        top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    section#formHolder div.brand .success-msg p {
        font-size: 16px;
    }
    section#formHolder div.brand .success-msg a {
        padding: 5px 30px;
        font-size: 10px;
    }
    section#formHolder .form {
        width: 80vw;
        min-height: 500px;
        margin-left: 10vw;
    }
    section#formHolder .form .form-peice {
        margin: 0;
        top: 0;
        left: 0;
        width: 100% !important;
        transition: all 0.5s ease-in-out;
    }
    section#formHolder .form .form-peice.switched {
        transform: translateY(-100%);
        width: 100%;
        left: 0;
    }
    section#formHolder .form .form-peice>form {
        width: 100% !important;
        padding: 60px;
        left: 50%;
    }
}

@media (max-width: 480px) {
    section#formHolder .form {
        width: 100vw;
        margin-left: 0;
    }
    h2 {
        font-size: 50px !important;
    }
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: orangered;
}

.footer-bottom {
    background: rgb(19, 18, 18);
    width: 100vw;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    text-align: center !important;
}

.footer-bottom p a {
    color: orangered;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    float: right;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    background: rgb(250, 131, 87);
}

@media (max-width:500px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}