@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&family=Outfit:wght@300;400;500;600&display=swap');
* {
    font-family: Outfit, sans-serif;
}

h1 {
    display: block;
    color: white;
    font-size: 70px !important;
    font-family: 'Gwendolyn', cursive;
}

.navbarr {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    text-decoration: none;
    color: orangered;
    font-size: 40px;
    cursor: pointer;
    font-family: 'Gwendolyn', cursive;
}

.brand:hover {
    text-decoration: none;
    color: orangered;
    font-size: 40px;
}

.navbarr ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

.navbarr ul li a {
    text-decoration: none;
    color: white;
}

.navbarr ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: orangered;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbarr ul li:hover:after {
    width: 100%;
}

body {
    background-image: url(../Images/image.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    text-align: center;
    font-size: 17px;
    margin-top: 90px;
}

button {
    width: 150px;
    padding: 10px;
    text-align: center;
    margin: 10px 10px !important;
    border-radius: 25px !important;
    font-weight: bold;
    border: 2px solid orangered;
    background: transparent;
    color: white;
    cursor: pointer;
}

button:hover {
    width: 150px;
    padding: 10px;
    text-align: center;
    margin: 10px 10px !important;
    border-radius: 25px !important;
    font-weight: bold;
    border: 2px solid orangered;
    background: orangered;
    color: white;
    cursor: pointer;
}